<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="card shadow-2-strong" style="border-radius: 1rem;">
        <div class="card-body p-5 text-center">

          <h3 class="mb-5">Login</h3>

          <mat-form-field class="custom-width" >
            <mat-label >Enter your username</mat-label>
            <input matInput [formControl]="InputUsername" #username autofocus >
          </mat-form-field>

          <mat-form-field class="custom-width">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [formControl]="InputPassword" (keydown.enter)="AuthenticateExt()" #password>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <div class="btn btn-primary btn-lg btn-block" (click)="AuthenticateExt()">Login</div>
          <mat-hint *ngIf="!response" class="mat-hint">Wrong user information</mat-hint>
        </div>
    </div>
  </div>
</div>
