<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">

<div class="TopBar" >
  <h4 class="left-text" (click)="ChangeTopBar()">{{usernameInput || "Wating for user input"}}</h4> 
  <h4 class="right-text" (click)="ChangeTopBar()">{{passwordInput || "Wating for password input"}}</h4>
</div>
<!--
<button (click)="ChangeTopBar()">ChangeTopBar</button>
<div class="navbar">
  <a class="link" href="home">Home</a>
  <a class="link" href="login">Login</a>
</div>
-->
<router-outlet></router-outlet>

